<div class="main-container" id="main-container">
  <div class="outer-container">
    <div class="inner-left-container">
      <img src="../assets/images/fb_logo.svg" alt="">
      <p>Facebook helps you connect and share with the people in your life.</p>
    </div>
    <div class="inner-right-container">
      <div class="form-box">
        <form [formGroup]="loginuserform" (ngSubmit)="userlogin()">
          <input formControlName="username" type="text" placeholder="Email address or Phone no">
          <span *ngIf="loginuserform.get('username')?.invalid && loginuserform.get('username')?.touched" style="color: red;">Enter a valid username</span>
          
          <input formControlName="userpass" type="password" placeholder="Password">
          <span *ngIf="loginuserform.get('userpass')?.invalid && loginuserform.get('userpass')?.touched" style="color: red;">Enter a valid Password of min 6 characters</span>
          
        
          <input *ngIf="loginuserform.invalid"  type="submit" value="Log In" id="log-in"username
          style="background-color: #1876f284;">
          <input *ngIf="loginuserform.valid"  type="submit" value="Log In" id="log-in"username>
        </form>
        <a href="">Forgotten password ?</a>
        <hr>
        <button id="new-acc-btn">Create new account</button>
      </div>
      <p><a href="">Create a Page </a>for a celebrity, brand or business.</p>
    </div>
  </div>
</div>
<app-myfooter></app-myfooter>